<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>I Want My MVC Demo</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-70356115-1', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="/">I Want My MVC Demo</a>
            <a class="btn btn-primary navbar-btn navbar-right" href="/posts/new" role="button">Post</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <% @posts.each do |post| %>
                    <div class="post-preview">
                        <a href="posts/<%= post.id %>">
                            <h2 class="post-title"><%= post.title %></h2>
                        </a>
                        <p class="lead">
                            <%= post.body %>
                        </p>
                        <div>
                            <p class="inline-block">
                                <%= Date.parse(post.created_at).strftime("Posted on %B %e, %Y") %> &middot;
                                    <a href="/posts/<%= post.id %>/comments">Comments</a>
                            </p>
                            <div class="float-right">
                                <form style="display:inline-block;" action="/posts/<%= post.id %>/edit">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-pencil"></i></button>
                                </form>
                                <form style="display:inline-block;" class="form-inline" action="posts/<%= post.id %>" method="GET" accept-charset="utf-8">
                                    <input type="hidden" name="post[delete]" value="true">
                                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <% end %>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="footer-text">
                <a href="https://github.com/lorenkp/iwmmvc_demo">Demo (this page) GitHub</a>
                <a href="https://github.com/lorenkp/i_want_my_mvc" class="spacing">I Want My MVC Framework Github</a>
                <a href="https://lorenkp.github.io" class="float-right">Loren Peterson &copy; 2015</a>
            </p>
        </div>
    </footer>
</body>

</html>
